/*
* {
    border: 2px solid red;
}
*/

.board {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10%;
    position: relative;
    /*width: 20%; */
    height: 0;
    padding-bottom: 10%;
}